/* :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  color: #000000 !important;
  min-width: 1.757rem !important;
  font-size: 1rem !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
} */
