<div *ngIf="showTableByColumn == 1">
  <app-shared-lazy-table-new
    #sharedLazyTableNew
    [headerColumnList]="columnHeaderListWithStatus"
    [tableInitialData]="purchaseRequisitionData"
    [filter]="true"
    [excelIcon]="true"
    [printIcon]="true"
    (printIconFn)="handlePrintIcon($event)"
    [refreshIcon]="true"
    [addRecordIcon]="true"
    (addRecordIconFn)="handleAddRecordIcon($event)"
    [reopenIcon]="true"
    (reopenIconFn)="handleReopenIcon($event)"
    [emailIcon]="currentStatusId == 544 ? true : false"
    [cancelIcon]="true"
    (emailIconFn)="handleEmailIcon($event)"
    [sendForApprovalIcon]="true"
    (sendForApprovalIconFn)="handleSendForApprovalIcon($event)"
    (lazyLoadGetData)="getServerSideTableList($event)"
    [tableFilterFormGroup]="tableFilterFormGroup"
    (sendTableRowData)="receiveTableRowData($event)"
    [isCheckBox]="true"
    [checkboxWidth]="false"
    (sendSelectedData)="receiveSelectedData($event)"
    [disableAddNewIcons]="disableAddNewIcons"
    [disableSendForApprovalIcons]="disableSendForApprovalIcons"
    [disableCancelPRIcons]="disableCancelPRIcons"
    (cancelIconFn)="handleCancelIcon('icon')"
    [disableReopenIcons]="disableReopenIcons"
    [disablePrintPRIcons]="disablePrintPRIcons"
    [disableEmailPRIcons]="disableEmailPRIcons"
    (exportExcel)="exportToExcelData($event)"
    [tableTitle]="tableTitle"
    [showHide]="true"
  >
  </app-shared-lazy-table-new>
</div>

<div *ngIf="showTableByColumn == 2">
  <app-shared-lazy-table-new
    #sharedLazyTableNew
    [headerColumnList]="columnHeaderListWithOutStatusWithRemarks"
    [tableInitialData]="purchaseRequisitionData"
    [filter]="true"
    [excelIcon]="true"
    [showHide]="true"
    [printIcon]="true"
    (printIconFn)="handlePrintIcon($event)"
    [refreshIcon]="true"
    [addRecordIcon]="true"
    (addRecordIconFn)="handleAddRecordIcon($event)"
    [reopenIcon]="true"
    (reopenIconFn)="handleReopenIcon($event)"
    [emailIcon]="currentStatusId == 544 ? true : false"
    [cancelIcon]="true"
    (sendRemarksIconAction)="handleRemarksIcon($event)"
    (cancelIconFn)="handleCancelIcon('icon')"
    (emailIconFn)="handleEmailIcon($event)"
    [sendForApprovalIcon]="true"
    (sendForApprovalIconFn)="handleSendForApprovalIcon($event)"
    (lazyLoadGetData)="getServerSideTableList($event)"
    [tableFilterFormGroup]="tableFilterFormGroup"
    (sendTableRowData)="receiveTableRowData($event)"
    [isCheckBox]="true"
    [checkboxWidth]="false"
    (sendSelectedData)="receiveSelectedData($event)"
    [disableAddNewIcons]="disableAddNewIcons"
    [disableSendForApprovalIcons]="disableSendForApprovalIcons"
    [disableCancelPRIcons]="disableCancelPRIcons"
    [disableReopenIcons]="disableReopenIcons"
    [disablePrintPRIcons]="disablePrintPRIcons"
    [disableEmailPRIcons]="disableEmailPRIcons"
    (exportExcel)="exportToExcelData($event)"
    [tableTitle]="tableTitle"
  >
  </app-shared-lazy-table-new>
</div>
<div *ngIf="showTableByColumn == 3">
  <app-shared-lazy-table-new
    #sharedLazyTableNew
    [headerColumnList]="columnHeaderListWithOutStatus"
    [tableInitialData]="purchaseRequisitionData"
    [filter]="true"
    [excelIcon]="true"
    [showHide]="true"
    [printIcon]="true"
    (printIconFn)="handlePrintIcon($event)"
    [refreshIcon]="true"
    [addRecordIcon]="true"
    (addRecordIconFn)="handleAddRecordIcon($event)"
    [reopenIcon]="true"
    (reopenIconFn)="handleReopenIcon($event)"
    [emailIcon]="currentStatusId == 544 ? true : false"
    [cancelIcon]="true"
    (cancelIconFn)="handleCancelIcon('icon')"
    (emailIconFn)="handleEmailIcon($event)"
    [sendForApprovalIcon]="true"
    (sendForApprovalIconFn)="handleSendForApprovalIcon($event)"
    (lazyLoadGetData)="getServerSideTableList($event)"
    [tableFilterFormGroup]="tableFilterFormGroup"
    (sendTableRowData)="receiveTableRowData($event)"
    [isCheckBox]="true"
    [checkboxWidth]="false"
    (sendSelectedData)="receiveSelectedData($event)"
    [disableAddNewIcons]="disableAddNewIcons"
    [disableSendForApprovalIcons]="disableSendForApprovalIcons"
    [disableCancelPRIcons]="disableCancelPRIcons"
    [disableReopenIcons]="disableReopenIcons"
    [disablePrintPRIcons]="disablePrintPRIcons"
    [disableEmailPRIcons]="disableEmailPRIcons"
    (exportExcel)="exportToExcelData($event)"
    [tableTitle]="tableTitle"
  >
  </app-shared-lazy-table-new>
</div>
