<p-dialog
  header="Change Password"
  [(visible)]="display"
  [modal]="true"
  appendTo="body"
  [responsive]="true"
  [minY]="150"
  [baseZIndex]="100000"
  [resizable]="false"
  [style]="{ width: '400px' }"
  (onHide)="closeForm()"
  [closable]="!disableCloseBit"
>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="well no-padding loginForm">
      <form
        class="smart-form client-form"
        [formGroup]="editSaveForm"
        (ngSubmit)="onsubmit()"
        autocomplete="off"
      >
        <fieldset>
          <section>
            <label for="oldPassword" class="labelText">
              <span [translate]="'changePassword.label.oldPassword'"></span>
              <span class="redIcon"> *</span></label
            >
            <label class="input">
              <i
                class="curser-pointer"
                (click)="toggleHideForOld()"
                title="{{ showHideTextOld }}"
                [ngClass]="[
                  !hideold
                    ? 'icon-append fas fa-eye'
                    : 'icon-append fas fa-eye-slash'
                ]"
                title="Show Password"
              >
              </i>
              <input
                [type]="hideold ? 'text' : 'password'"
                name="oldPassword"
                autocomplete="new-password"
                data-smart-validate-input=""
                [ngClass]="{
                  'has-error-password':
                    (submitted &&
                      changePasswordFormControls['oldPassword'].errors) ||
                    (changePasswordFormControls['oldPassword'].errors &&
                      (changePasswordFormControls['oldPassword'].dirty ||
                        changePasswordFormControls['oldPassword'].touched))
                }"
                data-required=""
                data-email=""
                data-message-required="Please enter your email address"
                data-message-email="Please enter a VALID email address"
                class="form-control"
                id="oldPassword"
                formControlName="oldPassword"
                placeholder="{{
                  'changePassword.placeholder.oldPassword' | translate
                }}"
                maxlength="20"
                (change)="oldPasswordCheck($event)" />
              <b class="tooltip tooltip-top-right">
                <span
                  [translate]="'changePassword.tooltip.oldPassword'"
                ></span> </b
            ></label>
            <div
              *ngIf="
                (submitted &&
                  changePasswordFormControls['oldPassword'].errors) ||
                (changePasswordFormControls['oldPassword'].errors &&
                  (changePasswordFormControls['oldPassword'].dirty ||
                    changePasswordFormControls['oldPassword'].touched))
              "
              class="help-block red"
            >
              <div
                *ngIf="
                  changePasswordFormControls['oldPassword'].errors['required']
                "
              >
                <span
                  [translate]="'changePassword.error.oldPassword.required'"
                ></span>
              </div>
              <div
                *ngIf="
                  !changePasswordFormControls['oldPassword'].errors[
                    'required'
                  ] &&
                  changePasswordFormControls['oldPassword'].errors[
                    'invalidPassword'
                  ]
                "
              >
                <span
                  [translate]="
                    'changePassword.error.oldPassword.invalidPassword'
                  "
                ></span>
              </div>
            </div>
          </section>
          <section>
            <label for="newPassword" class="labelText">
              <span [translate]="'changePassword.label.newPassword'"></span>
              <span class="redIcon"> *</span></label
            >

            <label class="input">
              <i
                class="curser-pointer"
                (click)="toggleHideForNew()"
                title="{{ showHideTextNew }}"
                [ngClass]="
                  !hide
                    ? 'icon-append fas fa-eye'
                    : 'icon-append fas fa-eye-slash'
                "
                title="Show Password"
              ></i>
              <input
                [(ngModel)]="password"
                [type]="hide ? 'text' : 'password'"
                name="newpassword"
                autocomplete="new-password"
                [ngClass]="{
                  'has-error-password':
                    (submitted &&
                      changePasswordFormControls['newPassword'].errors) ||
                    (changePasswordFormControls['newPassword'].errors &&
                      (changePasswordFormControls['newPassword'].dirty ||
                        changePasswordFormControls['newPassword'].touched))
                }"
                data-smart-validate-input=""
                data-required=""
                maxlength="20"
                data-message="Please enter your  password"
                class="form-control"
                id="newPassword"
                (input)="newPasswordCheck($event)"
                formControlName="newPassword"
                placeholder="{{
                  'changePassword.placeholder.newPassword' | translate
                }}"
              />
              <b class="tooltip tooltip-top-right">
                <span [translate]="'changePassword.tooltip.newPassword'"></span
              ></b>
            </label>
            <div
              *ngIf="
                (submitted &&
                  changePasswordFormControls['newPassword'].errors) ||
                (changePasswordFormControls['newPassword'].errors &&
                  (changePasswordFormControls['newPassword'].dirty ||
                    changePasswordFormControls['newPassword'].touched))
              "
              class="help-block red"
            >
              <div
                *ngIf="
                  changePasswordFormControls['newPassword'].errors['required']
                "
              >
                <span
                  [translate]="'changePassword.error.newPassword.required'"
                ></span>
              </div>

              <div
                *ngIf="
                  changePasswordFormControls['newPassword'].errors['pattern']
                "
              >
                <span
                  [translate]="'changePassword.error.newPassword.pattern'"
                ></span>
              </div>
              <div
                *ngIf="
                  !changePasswordFormControls['newPassword'].errors[
                    'pattern'
                  ] &&
                  changePasswordFormControls['newPassword'].errors['minlength']
                "
              >
                <span
                  [translate]="'changePassword.error.newPassword.minLength'"
                ></span>
              </div>

              <div
                *ngIf="
                  !changePasswordFormControls['newPassword'].errors[
                    'pattern'
                  ] &&
                  !changePasswordFormControls['newPassword'].errors[
                    'minlength'
                  ] &&
                  changePasswordFormControls['newPassword'].errors[
                    'samePassword'
                  ]
                "
              >
                <span
                  [translate]="'changePassword.error.newPassword.samePassword'"
                ></span>
              </div>
            </div>

            <div class="inValidUser">{{ inValidUser }}</div>
          </section>

          <section>
            <label for="confirmPassword" class="labelText">
              <span [translate]="'changePassword.label.confirmPassword'"></span>
              <span class="redIcon"> *</span></label
            >

            <label class="input">
              <i
                class="curser-pointer"
                (click)="toggleHideForConfirm()"
                title="{{ showHideTextConfirm }}"
                [ngClass]="
                  !hideconfirm
                    ? 'icon-append fas fa-eye'
                    : 'icon-append fas fa-eye-slash'
                "
                title="Show Password"
              ></i>
              <input
                autocomplete="confirm-password"
                [type]="hideconfirm ? 'text' : 'password'"
                [ngClass]="{
                  'has-error-password':
                    (submitted &&
                      changePasswordFormControls['confirmPassword'].errors) ||
                    (changePasswordFormControls['confirmPassword'].errors &&
                      (changePasswordFormControls['confirmPassword'].dirty ||
                        changePasswordFormControls['confirmPassword'].touched))
                }"
                data-smart-validate-input=""
                data-required=""
                maxlength="20"
                data-message="Please enter your  password"
                class="form-control"
                id="confirmPassword"
                (blur)="confirmPasswordCheck()"
                formControlName="confirmPassword"
                placeholder="{{
                  'changePassword.placeholder.confirmPassword' | translate
                }}"
                (input)="checkNotAllowedSpecialCharactersConfirmPassword()"
              />
              <b class="tooltip tooltip-top-right">
                <span
                  [translate]="'changePassword.tooltip.confirmPassword'"
                ></span
              ></b>
            </label>
            <div
              *ngIf="
                (submitted &&
                  changePasswordFormControls['confirmPassword'].errors) ||
                (changePasswordFormControls['confirmPassword'].errors &&
                  (changePasswordFormControls['confirmPassword'].dirty ||
                    changePasswordFormControls['confirmPassword'].touched))
              "
              class="help-block red"
            >
              <div
                *ngIf="
                  changePasswordFormControls['confirmPassword'].errors[
                    'required'
                  ]
                "
              >
                <span
                  [translate]="'changePassword.error.confirmPassword.required'"
                ></span>
              </div>

              <div
                *ngIf="
                  changePasswordFormControls['confirmPassword'].errors[
                    'pattern'
                  ]
                "
              >
                <span
                  [translate]="'changePassword.error.confirmPassword.pattern'"
                ></span>
              </div>
              <div
                *ngIf="
                  !changePasswordFormControls['confirmPassword'].errors[
                    'pattern'
                  ] &&
                  changePasswordFormControls['confirmPassword'].errors[
                    'minlength'
                  ]
                "
              >
                <span
                  [translate]="'changePassword.error.confirmPassword.minLength'"
                ></span>
              </div>

              <div
                *ngIf="
                  !changePasswordFormControls['confirmPassword'].errors[
                    'pattern'
                  ] &&
                  !changePasswordFormControls['confirmPassword'].errors[
                    'minlength'
                  ] &&
                  changePasswordFormControls['confirmPassword'].errors[
                    'invalidConfirmPassword'
                  ]
                "
              >
                <span
                  [translate]="
                    'changePassword.error.confirmPassword.invalidConfirmPassword'
                  "
                ></span>
              </div>
            </div>

            <div class="inValidUser">{{ inValidUser }}</div>
          </section>
        </fieldset>

        <footer>
          <button
            type="Submit"
            class="btn-primary footer-button"
            title="Change Password"
          >
            <i class="fa fa-key" aria-hidden="true"></i>
            <span [translate]="'changePassword.buttons.changePassword'"></span>
          </button>
        </footer>
      </form>
    </div>
  </div>
</p-dialog>
