<div>
  <app-generate-rfq-pdf #generatePdfComponent></app-generate-rfq-pdf>
</div>

<div *ngIf="showTableByColumn == 1">
  <app-shared-lazy-table-new
    #sharedLazyTableNew
    [headerColumnList]="columnHeaderListWithStatus"
    [tableInitialData]="requestForQuoteData"
    [filter]="true"
    [excelIcon]="true"
    [printIcon]="true"
    [titleSendIcon]="sendIconTitle"
    (printIconFn)="handlePrintIcon($event)"
    [refreshIcon]="true"
    [addRecordIcon]="true"
    (addRecordIconFn)="handleAddRecordIcon($event)"
    [reopenIcon]="showReopenIcons"
    (reopenIconFn)="handleReopenIcon($event)"
    (sendIconFn)="handleSendIcon($event)"
    [emailIcon]="showEmailRFQIcons"
    [cancelIcon]="showCancelIcons"
    [sendIcon]="showFormSendRFQIcons"
    (emailIconFn)="handleEmailIcon($event)"
    [sendForApprovalIcon]="showFormSendForApprovalIcons"
    (sendForApprovalIconFn)="handleSendForApprovalIcon($event)"
    (lazyLoadGetData)="getServerSideTableList($event)"
    [tableFilterFormGroup]="tableFilterFormGroup"
    (sendTableRowData)="receiveTableRowData($event)"
    [isCheckBox]="true"
    [checkboxWidth]="false"
    (sendSelectedData)="receiveSelectedData($event)"
    [disableAddNewIcons]="disableAddNewIcons"
    [disableSendForApprovalIcons]="disableSendForApprovalIcons"
    [disableCancelPRIcons]="disableCancelRFQIcons"
    (cancelIconFn)="handleCancelIcon('icon')"
    [disableReopenIcons]="disableReopenIcons"
    [disablePrintPRIcons]="disablePrintRFQIcons"
    [disableEmailPRIcons]="disableEmailRFQIcons"
    (exportExcel)="exportToExcelData($event)"
    [tableTitle]="tableTitle"
    [showHide]="true"
  >
  </app-shared-lazy-table-new>
</div>
<div *ngIf="showTableByColumn == 2">
  <!-- for cancel -->
  <app-shared-lazy-table-new
    #sharedLazyTableNew
    [headerColumnList]="columnHeaderListWithOutStatusWithRemarks"
    [tableInitialData]="requestForQuoteData"
    [filter]="true"
    [excelIcon]="true"
    [titleSendIcon]="sendIconTitle"
    [printIcon]="true"
    (printIconFn)="handlePrintIcon($event)"
    [refreshIcon]="true"
    [addRecordIcon]="true"
    (addRecordIconFn)="handleAddRecordIcon($event)"
    [reopenIcon]="showReopenIcons"
    (reopenIconFn)="handleReopenIcon($event)"
    [emailIcon]="showEmailRFQIcons"
    [cancelIcon]="showCancelIcons"
    (emailIconFn)="handleEmailIcon($event)"
    [sendForApprovalIcon]="showFormSendForApprovalIcons"
    (sendForApprovalIconFn)="handleSendForApprovalIcon($event)"
    (lazyLoadGetData)="getServerSideTableList($event)"
    [tableFilterFormGroup]="tableFilterFormGroup"
    (sendTableRowData)="receiveTableRowData($event)"
    [isCheckBox]="true"
    [checkboxWidth]="false"
    (sendSelectedData)="receiveSelectedData($event)"
    (sendIconFn)="handleSendIcon($event)"
    [sendIcon]="showFormSendRFQIcons"
    [disableAddNewIcons]="disableAddNewIcons"
    [disableSendForApprovalIcons]="disableSendForApprovalIcons"
    [disableCancelPRIcons]="disableCancelRFQIcons"
    (cancelIconFn)="handleCancelIcon('icon')"
    [disableReopenIcons]="disableReopenIcons"
    [disablePrintPRIcons]="disablePrintRFQIcons"
    [disableEmailPRIcons]="disableEmailRFQIcons"
    (exportExcel)="exportToExcelData($event)"
    [tableTitle]="tableTitle"
    [showHide]="true"
  >
  </app-shared-lazy-table-new>
</div>
<div *ngIf="showTableByColumn == 3">
  <app-shared-lazy-table-new
    #sharedLazyTableNew
    [headerColumnList]="columnHeaderListWithOutStatus"
    [tableInitialData]="requestForQuoteData"
    [filter]="true"
    [excelIcon]="true"
    [printIcon]="true"
    [titleSendIcon]="sendIconTitle"
    (printIconFn)="handlePrintIcon($event)"
    [refreshIcon]="true"
    [addRecordIcon]="true"
    (addRecordIconFn)="handleAddRecordIcon($event)"
    [reopenIcon]="showReopenIcons"
    (reopenIconFn)="handleReopenIcon($event)"
    [cancelIcon]="showCancelIcons"
    (sendIconFn)="handleSendIcon($event)"
    [sendIcon]="showFormSendRFQIcons"
    [emailIcon]="showEmailRFQIcons"
    (emailIconFn)="handleEmailIcon($event)"
    [sendForApprovalIcon]="showFormSendForApprovalIcons"
    (sendForApprovalIconFn)="handleSendForApprovalIcon($event)"
    (lazyLoadGetData)="getServerSideTableList($event)"
    [tableFilterFormGroup]="tableFilterFormGroup"
    (sendTableRowData)="receiveTableRowData($event)"
    [isCheckBox]="true"
    [checkboxWidth]="false"
    (sendSelectedData)="receiveSelectedData($event)"
    [disableAddNewIcons]="disableAddNewIcons"
    [disableSendForApprovalIcons]="disableSendForApprovalIcons"
    [disableCancelPRIcons]="disableCancelRFQIcons"
    (cancelIconFn)="handleCancelIcon('icon')"
    [disableReopenIcons]="disableReopenIcons"
    [disablePrintPRIcons]="disablePrintRFQIcons"
    [disableEmailPRIcons]="disableEmailRFQIcons"
    (exportExcel)="exportToExcelData($event)"
    [tableTitle]="tableTitle"
    [showHide]="true"
  >
  </app-shared-lazy-table-new>
</div>
